# Répertoires et fichiers Python à ignorer
__pycache__/
*.pyc
*.pyo

# Environnements virtuels
.venv/
env/
venv/

# Docker
.dockerignore
docker_volumes/
docker-compose.override.yml

# Fichiers temporaires
*.swp
*.bak
*.tmp

# Fichiers de logs
*.log

# Archives ou sauvegardes temporaires
*.tar
*.tgz

# Ficher de configuration
.env