{% extends 'base.html' %}

{% block title %}{{ _('ladder') }}{% endblock %}

{% block content %}
<div class="row-justify-content-center title">
   - {{ _('ladder') }} -
</div>
<div class="page-content">
    <div class="filters-container">
        <div class="sort-menu">
            <h3 class="filter-title">{{_('sort')}}</h3>
            <div class="select-wrapper">
                <select id="sort-filter" class="form-control custom-select" onchange="filterBySort()">
                    <option value="desc" {% if request.args.get('sort') != 'asc' %}selected{% endif %}>{{_('bestrankings')}}</option>
                    <option value="asc" {% if request.args.get('sort') == 'asc' %}selected{% endif %}>{{_('worstrankings')}}</option>
                </select>
            </div>
        </div>
        <div class="hidden-filter-menu">
            <h3 class="filter-title">{{ _('filterhidden') }}</h3>
            <div class="select-wrapper">
                <select id="hidden-filter" class="form-control custom-select" onchange="filterByHidden()">
                    <option value="False" {% if request.args.get('hidden') != 'True' %}selected{% endif %}>{{ _('Actives') }}</option>
                    <option value="True" {% if request.args.get('hidden') == 'True' %}selected{% endif %}>{{ _('Toutes') }}</option>
                </select>
            </div>
        </div>
        <div class="set-filter-menu">
            <h3 class="filter-title">{{_('filterset')}}</h3>
            <div class="select-wrapper">
                <select id="set-filter" class="form-control custom-select" onchange="filterBySet()">
                    <option value="" {% if not request.args.get('cardset') %}selected{% endif %}>{{_('all')}}</option>
                    <option value="BTG" {% if request.args.get('cardset') == 'BTG' %}selected{% endif %}>BTG (set 1)</option>
                    <option value="TBF" {% if request.args.get('cardset') == 'TBF' %}selected{% endif %}>TBF (set 2)</option>
                </select>
            </div>
        </div>
        <div class="faction-filter-menu">
            <h3 class="filter-title">{{_('filterfaction')}}</h3>
            <div class="select-wrapper">
                <select id="faction-filter" class="form-control custom-select" onchange="filterByFaction()">
                    <option value="" {% if not request.args.get('faction') %}selected{% endif %}>{{_('all')}}</option>
                    <option value="Axiom" {% if request.args.get('faction') == 'Axiom' %}selected{% endif %}>Axiom</option>
                    <option value="Bravos" {% if request.args.get('faction') == 'Bravos' %}selected{% endif %}>Bravos</option>
                    <option value="Lyra" {% if request.args.get('faction') == 'Lyra' %}selected{% endif %}>Lyra</option>
                    <option value="Muna" {% if request.args.get('faction') == 'Muna' %}selected{% endif %}>Muna</option>
                    <option value="Ordis" {% if request.args.get('faction') == 'Ordis' %}selected{% endif %}>Ordis</option>
                    <option value="Yzmir" {% if request.args.get('faction') == 'Yzmir' %}selected{% endif %}>Yzmir</option>
                </select>
            </div>
        </div>
        <div class="char-filter-menu">
            <h3 class="filter-title">{{_('filterchar')}}</h3>
            <div class="select-wrapper">
                <select id="card-name-filter" class="form-control custom-select" onchange="filterByCharacter()">
                    <option value="No filter" {% if not selected_character %}selected{% endif %}>{{_('nofilter')}}</option>
                    {% for character in all_cards %}
                        <option value="{{ character }}" {% if character == selected_character %}selected{% endif %}>{{ character }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="ladder-container">
        <table class="ladder-table">
            <thead>
                <tr>
                    <th>{{_('rank')}}</th>
                    <th>{{_('character')}}</th>
                    <th>{{_('faction')}}</th>
                    <th>Elo</th>
                    <th>{{_('duels')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                    <tr>
                        <td>{{ loop.index + start_num }}</td>
                        <td>
                            <a href="{{ url_for('cardview', card_ref=card.reference) }}"><img src="{% if get_locale() == 'fr' %}{{ card.url_fr_fr }}{% elif get_locale() == 'it' %}{{ card.url_it_it }}{% elif get_locale() == 'es' %}{{ card.url_es_es }}{% elif get_locale() == 'de' %}{{ card.url_de_de }}{% elif get_locale() == 'en' %}{{ card.url_en_us }}{% endif %}" alt="{% if get_locale() == 'fr' %}{{ card.character_fr_fr }}{% elif get_locale() == 'it' %}{{ card.character_it_it }}{% elif get_locale() == 'es' %}{{ card.character_es_es }}{% elif get_locale() == 'de' %}{{ card.character_de_de }}{% elif get_locale() == 'en' %}{{ card.character_en_us }}{% endif %}" class="hidden-card load-img" url-en="{{card.url_en_us}}" onerror="this.onerror=null;this.src='{{ card.url_en_us }}';">
                                {% if card in current_user.favcards %}
                                    <i class="fas fa-star" style="color:#AB8000;"></i>
                                {% endif %}
                                {% if card.hide == 1 %}<span>{% endif %}
                                {% if get_locale() == 'fr' %}
                                    {{ card.character_fr_fr }}
                                {% elif get_locale() == 'it' %}
                                    {{ card.character_it_it }}
                                {% elif get_locale() == 'es' %}
                                    {{ card.character_es_es }}
                                {% elif get_locale() == 'de' %}
                                    {{ card.character_de_de }}
                                {% elif get_locale() == 'en' %}
                                    {{ card.character_en_us }}
                                {% endif %}
                                #{{ card.num }} 
                                {% if card.hide == 1 %}</span>{% endif %}
                            </a>
                        </td>
                        <td>{{ card.faction }}</td>
                        <td class="elo-case">{{ card.elo | round(1) }}</td>
                        <td>{{ card.nb_duel }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination-nav">
            <ul class="pagination">
                {% if pagination.has_prev %}
                    <li><a href="/ladder?page={{ pagination.prev_num }}{% if request.args.get('sort', None) %}&sort={{ request.args.get('sort', '') }}{% endif %}{% if request.args.get('faction', None) %}&faction={{ request.args.get('faction', '') }}{% endif %}{% if selected_character %}&character={{ request.args.get('character', '') }}{% endif %}" class="secondary-btn">{{_('previous')}}</a></li>
                {% endif %}
                <li><span class="pagination-info">Page {{ pagination.page }} / {{ pagination.pages }}</span></li>
                {% if pagination.has_next %}
                    <li><a href="/ladder?page={{ pagination.next_num }}{% if request.args.get('sort', None) %}&sort={{ request.args.get('sort', '') }}{% endif %}{% if request.args.get('faction', None) %}&faction={{ request.args.get('faction', '') }}{% endif %}{% if selected_character %}&character={{ request.args.get('character', '') }}{% endif %}" class="secondary-btn">{{_('next')}}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script>
    function filterBySort() {
        var sort = document.getElementById('sort-filter').value;
        var currentUrl = new URL(window.location.href);
        // var faction = currentUrl.searchParams.get('faction');
        // var character = currentUrl.searchParams.get('character');
        currentUrl.searchParams.set('sort', sort);
        // if (faction) {
        //     currentUrl.searchParams.set('faction', faction);
        // }
        // if (character) {
        //     currentUrl.searchParams.set('character', character);
        // }
        currentUrl.searchParams.set('page', '1');
        window.location.href = currentUrl.toString();
    }
    function filterByFaction() {
        var faction = document.getElementById('faction-filter').value;
        var currentUrl = new URL(window.location.href);
        // var sort = currentUrl.searchParams.get('sort');
        // var character = currentUrl.searchParams.get('character');
        if (faction === "") {
            currentUrl.searchParams.delete('faction');
        } else {
            currentUrl.searchParams.set('faction', faction);
        }
        // if (sort) {
        //     currentUrl.searchParams.set('sort', sort);
        // }
        // if (character) {
        //     currentUrl.searchParams.set('character', character);
        // }
        currentUrl.searchParams.set('page', '1');
        window.location.href = currentUrl.toString();
    }
    function filterByCharacter() {
        var character = document.getElementById('card-name-filter').value;
        var currentUrl = new URL(window.location.href);
        // var sort = currentUrl.searchParams.get('sort');
        // var faction = currentUrl.searchParams.get('faction');
        if (character === 'No filter') {
            currentUrl.searchParams.delete('character');
        } else {
            currentUrl.searchParams.set('character', character);
        }
        // if (sort) {
        //     currentUrl.searchParams.set('sort', sort);
        // }
        // if (faction) {
        //     currentUrl.searchParams.set('faction', faction);
        // }
        currentUrl.searchParams.set('page', '1');
        window.location.href = currentUrl.toString();
    }
    function filterByHidden() {
        var hidden = document.getElementById('hidden-filter').value;
        var currentUrl = new URL(window.location.href);
        // var sort = currentUrl.searchParams.get('sort');
        // var faction = currentUrl.searchParams.get('faction');
        // var character = currentUrl.searchParams.get('character');
        currentUrl.searchParams.set('hidden', hidden);
        // if (sort) {
        //     currentUrl.searchParams.set('sort', sort);
        // }
        // if (faction) {
        //     currentUrl.searchParams.set('faction', faction);
        // }
        // if (character) {
        //     currentUrl.searchParams.set('character', character);
        // }
        currentUrl.searchParams.set('page', '1');
        window.location.href = currentUrl.toString();
    }

    function filterBySet() {
        var cardset = document.getElementById('set-filter').value;
        var currentUrl = new URL(window.location.href);
        // var sort = currentUrl.searchParams.get('sort');
        // var faction = currentUrl.searchParams.get('faction');
        // var character = currentUrl.searchParams.get('character');
        if (cardset === "") {
            currentUrl.searchParams.delete('cardset');
        } else {
            currentUrl.searchParams.set('cardset', cardset);
        }
        // if (sort) {
        //     currentUrl.searchParams.set('sort', sort);
        // }
        // if (faction) {
        //     currentUrl.searchParams.set('faction', faction);
        // }
        // if (character) {
        //     currentUrl.searchParams.set('character', character);
        // }
        currentUrl.searchParams.set('page', '1');
        window.location.href = currentUrl.toString();
    }
</script>
{% endblock %}