{% extends 'base.html' %}
{% block title %}{{ _('profile') }}{% endblock %}
{% block content %}
<div class="row-justify-content-center title">
    <i id="usericon2" class="fa-solid fa-user"></i> {{ current_user.username }}
</div>
<div class="page-content">

    <div class="flex-row-div profilecounters">
        <div>
            {{_('charduel')}} : <span class="profilecountervalue">{{ charduels }}</span>
        </div>
        <div>
            {{_('factduel')}} : <span class="profilecountervalue">{{ factduels }}</span>
        </div>
        <div>
            {{_('randduel')}} : <span class="profilecountervalue">{{ randduels }}</span>
        </div>
    </div>
    <div class="ladder-container">
        <table class="stat-table">
            <thead>
                <tr>
                    <th>
                        {{ _('faction') }}
                    </th>
                    <th>
                        {{ _('character') }}
                    </th>
                    <th>
                        Elo
                    </th>
                    <th>
                        {{ _('totalduels') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr>
                    <td>{{ card.faction }}</td>
                    <td><a href="{{ url_for('cardview', card_ref=card.reference) }}" class="cardname"><img src="{% if get_locale() == 'fr' %}{{ card.url_fr_fr }}{% elif get_locale() == 'it' %}{{ card.url_it_it }}{% elif get_locale() == 'es' %}{{ card.url_es_es }}{% elif get_locale() == 'de' %}{{ card.url_de_de }}{% elif get_locale() == 'en' %}{{ card.url_en_us }}{% endif %}" alt="{% if get_locale() == 'fr' %}{{ card.character_fr_fr }}{% elif get_locale() == 'it' %}{{ card.character_it_it }}{% elif get_locale() == 'es' %}{{ card.character_es_es }}{% elif get_locale() == 'de' %}{{ card.character_de_de }}{% elif get_locale() == 'en' %}{{ card.character_en_us }}{% endif %}" class="hidden-card load-img" url-en="{{card.url_en_us}}" onerror="this.onerror=null;this.src='{{ card.url_en_us }}';">
                        {% if card.hide == 1 %}<span>{% endif %}
                        {% if get_locale() == 'fr' %}
                            {{ card.character_fr_fr }}
                        {% elif get_locale() == 'it' %}
                            {{ card.character_it_it }}
                        {% elif get_locale() == 'es' %}
                            {{ card.character_es_es }}
                        {% elif get_locale() == 'de' %}
                            {{ card.character_de_de }}
                        {% elif get_locale() == 'en' %}
                            {{ card.character_en_us }}
                        {% endif %}
                        #{{ card.num }}
                        {% if card.hide == 1 %}</span>{% endif %}
                    </a></td>
                    <td>{{ card.elo | round(1) }}</td>
                    <td>{{ card.nb_duel }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination-nav">
            <ul class="pagination">
                {% if page > 1 %}
                    <li><a href="/profile?page={{ page-1 }}{% if request.args.get('sort_by', None) %}&sort_by={{ request.args.get('sort_by', '') }}{% endif %}{% if request.args.get('sort_order', None) %}&sort_order={{ request.args.get('sort_order', '') }}{% endif %}" class="secondary-btn">{{_('previous')}}</a></li>
                {% endif %}
                <li><span class="pagination-info">Page {{ page }} / {{ max_pages }}</span></li>
                {% if max_pages > page %}
                    <li><a href="/profile?page={{ page+1 }}{% if request.args.get('sort_by', None) %}&sort_by={{ request.args.get('sort_by', '') }}{% endif %}{% if request.args.get('sort_order', None) %}&sort_order={{ request.args.get('sort_order', '') }}{% endif %}" class="secondary-btn">{{_('next')}}</a></li>
                {% endif %}
            </ul>
        </div>
        <p class="stat-disclaimer">{{ _('canbefav')}}</p>
    </div>

</div>
<script>
    if (window.location.pathname === '/profile') {
        document.body.style.backgroundPositionY = '90%';
        document.body.style.backgroundPositionX = '74%';
    }

    document.querySelectorAll('a').forEach(function(link) {
        link.addEventListener('mouseover', function(event) {
            var hiddenCard = event.target.querySelector('.hidden-card');
            if (hiddenCard) {
                hiddenCard.style.left = '';
                hiddenCard.style.top = '';
                // Obtenez la position de l'élément dans la page (y compris le défilement)
                var rect = hiddenCard.getBoundingClientRect();
                var windowWidth = window.innerWidth;
                var windowHeight = window.innerHeight;
                var scrollTop = window.scrollY;  // Récupère la position du scroll vertical

                // Ajuster la position de l'image en fonction du défilement
                var newTop = rect.top + scrollTop;  // Calculer la position absolue sur l'axe vertical
                var newLeft = -300;  // Pas besoin d'ajuster à gauche, on reste avec le calcul original

                // Vérifier si l'image dépasse à droite de l'écran
                if (rect.right > windowWidth) {
                    hiddenCard.style.left = (windowWidth - rect.width) + 'px';  // Déplacer l'image à gauche
                } else {
                    hiddenCard.style.left = newLeft + 'px';  // Sinon, on reste dans la position initiale
                }

                // Vérifier si l'image dépasse en bas de l'écran
                if (newTop + rect.height > windowHeight + scrollTop) {
                    hiddenCard.style.top = -rect.height + 'px';  // Déplacer l'image vers le haut
                } else {
                    hiddenCard.style.top = '100%';  // Positionner sous le texte normalement
                }
            }
        });
    });
</script>
{% endblock %}